.btn-princ {
    width: 100%;
    height: 40px;
    background-color: #0E67B9;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.btn-princ:hover {
    background-color: #083A69;
}

.btn-princ:disabled {
    background-color: #A5AFB9;
}

.btn-princ:active {
    background-color: #0E67B9;
    border: 3px solid #083A69;
}

.btn-princ:focus {
    background-color: #0E67B9;
    border: 3px solid #083A69;
}